@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #444;
    font-family: "Inter", Helvetica, Arial, sans-serif
}

input {
    -webkit-appearance: none
}

.main .login {
    background-color: #fff;
    border-radius: 4px;
    height: 290px;
    left: 50%;
    margin-left: -220px;
    margin-top: -187.5px;
    padding: 35px 40px 50px;
    position: absolute;
    top: 50%;
    width: 360px;
}

.main .login .rlogo {
    text-align: center;
    font-size: 26px;
    color: #444;
    cursor: pointer;
    height: 40px;
    margin-bottom: 40px;
    overflow: hidden
}

.main .login .title {
    color: #444;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    margin: -10px 0 46px;
    text-align: center
}

.main .login .line {
    height: 42px;
    margin-bottom: 20px;
    line-height: 42px;
    position: relative
}

.main .login .line span {
    width: 70px;
    float: left;
    color: #757584
}

.main .login .line .inputtxt {
    background: transparent;
    float: left;
    width: 338px;
    height: 30px;
    line-height: 30px;
    border: #d1d1d1 1px solid;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px
}

.main .login .line .code {
    width: 230px
}

.main .login .line .getcode,
.main .login .line .picgetcode {
    width: 100px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    border: #cacad9 1px solid;
    background-color: #dbdbea;
    color: #757584;
    font-size: 14px;
    float: left;
    margin-left: 17px;
    cursor: pointer
}

.main .login .line .getcode.no-drop {
    cursor: no-drop
}

.main .login .line .getcode.pointer {
    border: #47acff 1px solid;
    background-color: #47acff;
    color: #fff
}

.main .login .line .picgetcode img {
    width: 100%;
    height: 100%
}

.main .login .line .codemsg {
    background: #e53451;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    height: 21px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 6px;
    position: absolute;
    right: 127px;
    text-align: right;
    top: 5px;
    z-index: 0
}

.main .login .line .inputtxt:focus {
    border: #70c3ec 1px solid;
    box-shadow: 0 0 5px #eee
}

.main .login .yzm .inputtxt {
    width: 64%
}

.login_btn input {
    width: 100%;
    height: 44px;
    background: #20a53a;
    background: linear-gradient(#20a53a, #189d32);
    box-shadow: inset 0 1px 2px #30ad42;
    color: #fff;
    text-shadow: #00851a 0 -1px 0;
    border: 1px solid #20a53a;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer
}

.login_btn input:hover {
    background: #10952a;
    background: linear-gradient(#10952a, #088d22);
    border: 1px solid #10952a
}

.login-link {
    text-align: right;
    margin-top: 22px
}

.login-link span {
    color: #cacad9;
    padding: 0 8px;
    text-align: center
}

.login-link a {
    color: #757584
}

.copyright {
    color: #9d9d9d;
    text-align: center;
    margin-top: -50px;
    position: relative;
    z-index: 3
}

.copyright a {
    color: #9d9d9d;
    text-decoration: none
}

.pwinfo {
    bottom: 19px;
    color: #999;
    position: absolute
}

.resetpw {
    bottom: 20px;
    color: #20a53a;
    position: absolute;
    right: 40px
}

.Validform_checktip {
    color: #999;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 6px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 14px;
    z-index: 1
}

.Validform_wrong {
    background: #e53451;
    border-radius: 3px;
    color: #fff;
    float: right
}

.Validform_right {
    padding: 0 10px;
    color: #71b83d;
    background: url(../images/right.png) no-repeat right center/16px auto
}

.main .login .line .Validform_error {
    border: #e53451 1px solid;
    box-shadow: 0 0 2px #ea5d74
}

.main .login .yzm .Validform_wrong {
    background: #e53451;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 6px;
    position: absolute;
    right: 127px;
    text-align: right;
    top: 14px;
    z-index: 1
}

.main .login .yzm .Validform_right {
    color: #71b83d;
    padding: 0 10px;
    right: 130px
}

.main .login .line .inputcode {
    width: 208px
}

.zun-form {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #888;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding: 20px 10px;
    text-shadow: 1px 1px 1px #fff
}

.zun-form-new {
    background: #FFF;
    padding: 20px 0 0;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888
}

.zun-form-new .line {
    padding: 5px 20px
}

.zun-form-new .line:first-child {
    padding-top: 0
}

.zun-form-new .line:after {
    display: table;
    content: "";
    clear: both
}

.zun-form-new h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 10px 40px;
    display: block;
    border-bottom: 1px solid #dadada;
    margin: -10px -30px 30px -30px;
    color: #888
}

.zun-form-new h1>span {
    display: block;
    font-size: 11px
}

.zun-form-new label {
    display: block;
    float: left;
    width: 80px
}

.zun-form-new .info-r {
    margin-bottom: 5px;
    margin-left: 80px;
    position: relative;
    color: #666
}

.zun-form-new .info-r label {
    margin-bottom: 0;
    padding-top: 5px
}

.zun-form-new .info-r label input {
    margin-right: 5px
}

.zun-form-new .info-r p {
    margin-top: 10px;
    color: #999
}

.zun-form-new label>span {
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 8px;
    color: #565656;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: bold
}

.zun-form-new input[type="text"],
.zun-form-new input[type="email"],
.zun-form-new input[type="password"],
.zun-form-new input[type="number"],
.zun-form-new textarea,
.zun-form-new select,
.webEdit-box input,
.webEdit-box textarea,
.webEdit-box select {
    border: 1px solid #ccc;
    color: #888;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding-left: 5px;
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.zun-form-new input:focus,
.zun-form-new input:active,
.zun-form-new select:focus,
.zun-form-new select:active,
.dataTables_paginate select:focus,
.dataTables_paginate select:active,
textarea:focus,
textarea:active,
.webEdit-box input:focus,
.webEdit-box select:focus,
.webEdit-box input:active,
.webEdit-box select:active,
.dlt-text:focus,
.sp-text:focus {
    border: #66afe9 1px solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.zun-form-new select {
    height: 32px;
    padding: 0\9;
    margin: 0\9
}

.zun-form-new textarea {
    height: 100px;
    padding: 5px 0 0 5px;
    width: 80%
}

.zun-form-new .submit-btn,
.getfile-btn {
    text-align: right;
    padding: 7px 20px 10px;
    background: #f6f8f8;
    border-top: 1px solid #edf1f2;
    margin-top: 10px;
    clear: both
}

.zun-form-new .submit-btn button:first-child,
.getfile-btn button:first-child {
    margin-right: 4px
}

.zun-form-new .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 0
}

.zun-form-new .button:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px
}

.btn-sm {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 4px 10px
}

.btn-danger {
    background-color: #cbcbcb;
    border-color: #cbcbcb;
    color: #fff
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

@media screen and (max-width:640px) {
    body {
        background-color: #eee
    }

    .main .login .rlogo {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 20px;
        height: 2.8em;
        line-height: 2.8em;
        margin: 0 -3.3% 25px -3.3%
    }

    .main .login {
        background-color: #eee;
        border-radius: 0;
        height: 330px;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        padding: 0 3%;
        position: absolute;
        top: 0;
        width: 94%
    }

    .main .login .line .inputtxt {
        background-color: #fff;
        border: 1px solid #d1d1d1;
        width: 93.6%;
        padding: 5px 3%;
        font-size: 1.2em
    }

    .main .login .yzm .inputtxt {
        width: 57%
    }
}

@media screen and (max-width:640px) {
    .scanCode {
        display: none
    }

    .account {
        display: block !important
    }

    .bg_img {
        display: none
    }
}

.bg_img {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    background-image: url(/static/img/qrCode.png);
    background-position: 0 0;
    background-size: 120px 120px;
    background-repeat: no-repeat
}

.bg_img:hover {
    background-position: -60px 0;
    cursor: pointer
}

.bg_img.pc {
    background-position: 0 -60px
}

.bg_img.pc:hover {
    background-position: -60px -60px
}

.qrCode {
    padding-top: 20px;
    text-align: center
}

.scanCode .titles {
    margin-top: 25px;
    color: #444;
    text-align: center;
    font-size: 23px
}

.list_scan {
  margin: 0 auto;
  margin-top: 15px;
  width: 155px
}

.list_scan>img {
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px
}

.list_scan span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px
}

.list_scan a:hover .weChatSamll {
    display: block
}

.list_scan .weChatSamll {
    position: absolute;
    right: 80px;
    bottom: 105px;
    display: none;
    padding: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #fff
}

.list_scan .weChatSamll img {
    width: 100%
}

.list_scan .weChatSamll em {
    position: absolute;
    right: 87px;
    bottom: -14px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: 7px solid #ececec;
    border-color: #ececec transparent transparent transparent
}

.tips {
    position: absolute;
    top: 10px;
    right: 65px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 4px;
    background: #dff0d8;
    color: #20a53a;
    text-align: center
}

.tips em {
    position: absolute;
    top: 8px;
    right: -11px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: 6px solid #dff0d8;
    border-color: transparent transparent transparent #dff0d8
}

.tips img {
    margin-top: -1px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.main .login .rlogo {
    margin-top: 15px;
    margin-bottom: 25px
}

.verification_view {
    padding: 30px 40px;
}
.verification_view .v_title{
    text-align: center;
    font-size: 21px;
    color: #444;
    height: 40px;
    margin-bottom: 15px;
    overflow: hidden;
}

.verification_view .v_btn input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    background: #20a53a;
    background: linear-gradient(#20a53a,#189d32);
    box-shadow: inset 0 1px 2px #30ad42;
    color: #fff;
    text-shadow: #00851a 0 -1px 0;
    border: 1px solid #20a53a;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.verification_view .v_input input{
    width: 100%;
    height: 40px;
    line-height: 30px;
    border: #d1d1d1 1px solid;
    padding: 4px 10px;
    z-index: 1;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}
.verification_view .v_input{
    margin-bottom: 15px;
}
.verification_view  .v_tips{
    color: #777;
    font-size: 13px;
    margin-top: 18px;
}